DATABASE_URL=// Aqui va tu URL de conexión a la base de datos, por ejemplo: postgresql://user:password@host:port/database?sslmode=require

JWT_SECRET=// Aqui va la clave secreta para JWT.
JWT_EXPIRES_IN=// Aqui va el tiempo de expiración del token, por ejemplo '1h' para 1 hora.
PORT=// Aqui va el puerto en el que la aplicación escucha, por ejemplo 3000.